<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://blackrockdigital.github.io/startbootstrap-small-business/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://blackrockdigital.github.io/startbootstrap-small-business/css/small-business.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="main.css" rel="stylesheet">
  </head>
  <body>
  <nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
          <%= link_to 'Home', root_path, {:id=>"home-nav", :class=>"nav-link",:style=>"font-size:23px" } %>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <%= link_to 'Companies', companies_path, {:id=>"companies-nav", :class=>"nav-link",:style=>"font-size:23px" } %>
          </li>
          <li class="nav-item">
            <%= link_to 'Jobs', jobs_path, {:id=>"jobs-nav", :class=>"nav-link",:style=>"font-size:23px" } %>
          </li>
          <li class="nav-item">
            <%= link_to 'Dashboard', dashboard_path, {:id=>"dashboard-nav", :class=>"nav-link",:style=>"font-size:23px" } %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row my-4">
      <div class="col-lg-8">
        <img class="img-fluid rounded" src="https://preview.ibb.co/gvpoZn/olenka_kotyk_15378_unsplash_copy.jpg" alt="">
      </div>
      <div class="col-lg-4">
        <% unless @company.nil? %>
          <div id="header" class="card text-white bg-secondary my-4 text-center">
          </div>
          <h1><%= @company.name %></h1>
          <p>These are all the job listing we have for <%=@company.name%> </p>
          <h4> <%= link_to "Sort jobs by city", "jobs?sort=location", { :class=>"btn btn-primary", :id=>"first" }%></h4>
          <h4> <%= link_to "Sort cities by level of interest", "jobs?sort=interest", { :class=>"btn btn-primary", :id=>"second" }%></h4>
           <%= link_to 'Back to all companies', companies_path(@company), { :class=>"btn btn-primary btn-lg" } %><br>
         <% end %>


    
      </div>
    </div>
    <div id="header" class="card text-white bg-secondary my-4 text-center">
      <div class="card-body">
          <% if @company != nil %>
          <div class="card-body">
            <%= link_to "Create New Job", new_company_job_path(@company,@jobs),{:style=>'color:#FFFFFF; font-size:35px;',:class => "css_class"} %>
          </div>
          <% end %>
      </div>
    </div>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
