
  <div class="container">
    <div class="row my-4">
      <div class="col-lg-8">
        <img class="img-fluid rounded" src="https://preview.ibb.co/bTa1LS/casey_horner_533586_unsplash_copy.jpg"height="20px" width="100%" alt="">
      </div>
      <div id="dash-board" class="col-lg-4">
        <div id="edit-box1" class="col-md-4 mb-4">
          <div class="card h-100">
            <h1>Jobs by city</h1>
            <h4> <%= link_to "Sort cities by level of interest", "jobs?sort=interest", { :class=>"btn btn-primary" }%></h4>
            <h4> <%= link_to "Sort jobs by city", "jobs?sort=location", { :class=>"btn btn-primary" }%></h4>
     <% @jobs.dashboard_group.each do |city, jobs| %>
            <h4> <%= link_to city, "jobs?location=#{city}"%></h4>
            <%= jobs.count %>
            <% end %>
            </div>
          </div>
        </div>
    </div>
    <div id="header" class="card text-white bg-secondary my-4 text-center">
      <div class="card-body">
      </div>
    </div>
  <div id="top-companies" class="top-companies">
      <h1>Top companies by interest</h1>
      <% @interest = Company.companies_with_top_interest %>
      <% @interest = Company.companies_order(@interest) %>
      <% @interest.each do |rating| %>
      <h3><%= rating.name %>:   <%= rating.top_average %></h3><br>
      <% end %>
    </div>
    </div>
