
<%= render partial: "form" %>


<h4> <%= link_to "Sort jobs by city", "jobs?sort=location", { :class=>"btn btn-primary", :id=>"first" }%></h4>
<h4> <%= link_to "Sort cities by level of interest", "jobs?sort=interest", { :class=>"btn btn-primary", :id=>"second" }%></h4>

<div class="row">
  <% @jobs.each do |job| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title"><%= job.title %></h2>
        <p class="card-text">Description: <%= job.description %></p>
                <p class="card-text">City:<%= job.city %></p>
                  <p class="card-text">Interest:<%= job.level_of_interest %></p>
                   <p class="card-text">Company:<%= job.company.name %></p>
            </div>
            <div class="card-footer">
              <% if @company != nil %>
                <%= link_to 'More Info', company_job_path(@company,job), { :class=>"btn btn-primary" } %>
                 <% end %>
                <% if @company == nil %>
                  <%= link_to 'More Info', job_path(job), { :class=>"btn btn-primary" } %>
                  <% end %>
            </div>
          </div>
        </div>
        <% end %>
