
<%= render partial: "form" %>



<div class="row">
  <% @jobs.each do |job| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title"><%= job.title %> at  <%= job.company.name %></h2>
              <p class="card-text"><%= job.description %></p>
            </div>
            <div class="card-footer">
              <% if @company != nil %>
                <%= link_to 'More Info', company_job_path(@company,job), { :class=>"btn btn-primary" } %>
                 <% end %>
                <% if @company == nil %>
                  <%= link_to 'More Info', job_path(job), { :class=>"btn btn-primary" } %>
                  <% end %>
            </div>
          </div>
        </div>
        <% end %>
