
  <div class="container">
    <div class="row my-4">
      <div class="col-lg-8">
        <img class="img-fluid rounded" src="https://preview.ibb.co/ce8TX7/jonathan_riley_118591_unsplash.jpg"height="20px" width="100%" alt="">
      </div>
      <div class="col-lg-4">
        <div id="edit-box" class="col-md-4 mb-4">
          <div class="card h-100">
            <div id="card-bod" class="card-body">
           <h2><%= @job.title %> at<br>
               <% if @company != nil %>
              <%= @company.name %> </h2>
                <% end %>

              Description: <%= @job.description %>
              <br>

              Level of Interest: <span data-interest="<%= @job.level_of_interest %>">
                <% @job.whole_stars.times do %>
                  <i class="fas fa-star star"></i>
                <% end %>
                <% if @job.half_star? %>
                  <i class="fas fa-star-half star"></i>
                <% end %>
              </span>
              <br>

              City: <%= @job.city %>
              <br>
              <% if @company != nil %>
              Company: <%= link_to @company.name, company_path(@company) %><br>
                  <% end %>
              <%= form_for [@comment] do |f| %>
              <%= f.label :comment %>
              <%= f.text_field :comment %>
              <%= f.hidden_field :job_id, value: @job.id %>
              <%= f.submit %>
              <% end %>
              <% @comments.each do |comment| %>
                <ul><%= comment.comment %></ul>
                <ul><%= comment.created_at %></ul>
              <% end %>
            <% if @company != nil %>
         <%= link_to    '<i class="far fa-edit" style="font-size:24px"></i>'.html_safe, edit_company_job_path(@job.company) %>
       <%= link_to '<i class="far fa-trash-alt" style="font-size:24px"></i>'.html_safe,  company_job_path(@job.company), method: "delete" %>
         <% end %>
           <% if @company == nil %>
         <%= link_to    '<i class="far fa-edit" style="font-size:24px"></i>'.html_safe, edit_company_job_path(@job) %>
        <%= link_to '<i class="far fa-trash-alt" style="font-size:24px"></i>'.html_safe,  company_job_path(@job), method: "delete" %>
    <% end %>
        <% if @company != nil %>
            <%= link_to    'Back to jobs', company_jobs_path(@company) %>
                 <% end %>
                    <% if @company == nil %>
                   <%= link_to    'Back to jobs', jobs_path %>
                    <% end %>
  </div>
</div>
</div>
</div>
</div>
<div id="header" class="card text-white bg-secondary my-4 text-center">
  <div class="card-body">
  </div>
</div>
