<div class="container">
    <div class="row my-4">
      <div class="col-lg-8">
        <img class="img-fluid rounded" src="https://preview.ibb.co/ce8TX7/jonathan_riley_118591_unsplash.jpg"height="20px" width="100%" alt="">
      </div>
      <div class="col-lg-4">
        <div id="edit-box" class="col-md-4 mb-4">
          <div class="card h-100">
            <h2>Edit <%= @company.name %> below!</h2>
            <div id="card-bod" class="card-body">


      <%= form_for @company do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.submit %>
      <% end %>


                  </div>
                </div>
              </div>


      </div>
    </div>
    <div id="header" class="card text-white bg-secondary my-4 text-center">
      <div class="card-body">
      </div>
    </div>
